
\.vs/config/applicationhost\.config

\.vs/slnx\.sqlite

\.vs/smartvalley\.sc/v15/\.suo

\.vs/VSWorkspaceState\.json

bin/Crowdsale\.abi

bin/Crowdsale\.bin

bin/Crowdsale\.json

bin/ERC20\.abi

bin/ERC20\.bin

bin/ERC20\.json

bin/MigratableToken\.abi

bin/MigratableToken\.bin

bin/MigratableToken\.json

bin/MigrationAgent\.abi

bin/MigrationAgent\.bin

bin/MigrationAgent\.json

bin/Owned\.abi

bin/Owned\.bin

bin/Owned\.json

bin/ScorringMvp\.abi

bin/ScorringMvp\.bin

bin/ScorringMvp\.json

bin/SmartValleyToken\.abi

bin/SmartValleyToken\.bin

bin/SmartValleyToken\.json

bin/Stateful\.abi

bin/Stateful\.bin

bin/Stateful\.json

bin/Token\.abi

bin/Token\.bin

bin/Token\.json
